@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.watchListContent {
    margin-top           : 3rem;
    display              : grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content      : center;
    gap                  : 3rem;

    @include phoneResponsive {
        grid-template-columns: 1fr;
        justify-items        : center;
    }
}

.EmptyPage {
    display            : flex;
    justify-content    : center;
    align-items        : center;
    flex-direction     : column;
    background-image   : url('./Components/assets/EmptyBox.png');
    background-repeat  : no-repeat;
    background-size    : 100% 100%;
    background-position: center;
    height             : 35rem;
    width              : 100%;

    @include tabletResponsive {
        height: 100vh;
    }

    @include phoneResponsive {
        height      : 100vh;
        align-items : flex-start;
        padding-left: 2rem;
    }

    a {
        text-decoration : none;
        color           : white;
        background-color: rgb(51, 45, 45);
        width           : 10rem;
        text-align      : center;
        padding         : 0.8rem;
        border-radius   : 1.5rem;
        font-size       : 1.2rem;
        transition      : width 0.8s;

        @include tabletResponsive {
            width        : 15rem;
            font-size    : 1.5rem;
            border-radius: 1.7rem;
        }

        @include phoneResponsive {
            width        : 18rem;
            font-size    : 1.5rem;
            border-radius: 2rem;
        }

        &:hover {
            width           : 12rem;
            background-color: rgb(78, 28, 28);
            cursor          : pointer;
        }
    }

    h1 {
        font-family: 'Ubuntu', sans-serif;
        color      : #3f3e3e;
        font-size  : 3rem;

    }
}