$navBarPrimaryColor : #ffffff83;
$navBarHoverColor   : white;

@mixin flex-properties($grid-gap) {
    display    : flex;
    gap        : #{$grid-gap}rem;
    align-items: center;
}

header {
    background-color     : #070707;
    display              : grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items          : center;
    width                : 100%;
    position             : sticky;
    top                  : 0px;
    z-index              : 1;

    @include phoneResponsive {
        grid-template-columns: 1fr 2fr .5fr;
        height               : 6rem;
    }

    .navBarLeftContent {
        @include flex-properties(1.5);

        @include phoneResponsive {
            @include flex-properties(0.5);
        }

        a {
            width       : 4rem;
            justify-self: center;

            img {
                justify-items: left;
                height       : 4rem;
                max-width    : 100%;
                object-fit   : cover;
            }
        }

        h2 {
            color      : $navBarHoverColor;
            font-family: 'Fugaz One', cursive;
            font-weight: 400;

            @include phoneResponsive {
                font-size: 1rem
            }
        }

    }

    .navBarCenterContent {
        @include flex-properties(0);
        // justify-content: flex-end;

        // form {
        input {
            outline         : none;
            border          : none;
            background-color: inherit;
            width           : 35rem;
            color           : $navBarHoverColor;
            font-size       : 1.1rem;
            border-bottom   : 2px solid $navBarHoverColor;

            @include tabletResponsive {
                width: 32rem;
            }

            @include phoneResponsive {
                width: 25rem;
            }

            &:focus {
                border-bottom: 3px solid #fe2222;
                color        : $navBarHoverColor;
            }
        }

        a {
            text-decoration : none;
            outline         : none;
            border          : none;
            background-color: inherit;
            color           : $navBarHoverColor;

            &::after {
                font-family: "Font Awesome 5 free";
                font-weight: 900;
                font-size  : 1.4rem;
                content    : '\f002';

            }

            &:hover {
                color : $navBarPrimaryColor;
                cursor: pointer;
            }
        }


    }
}

.navBarRightContent {
    @include flex-properties(5);
    justify-content: right;

    path:hover {
        color : $navBarPrimaryColor;
        cursor: pointer;
    }
}

// }