@mixin tabletResponsive() {
    @media (min-width: 768px) and (max-width:1024px) {
        @content;
    }
}

@mixin phoneResponsive {
    @media (max-width: 420px) {
        @content;
    }
}


@import './Components/navBar/NavBar';
@import './Components/Shared_Component/DataFetchingAndRendering/DataFetchingAndRendering';
@import './Components/Shared_Component/FullPageData/FullPageData';
@import './Components/Shared_Component/FetchDataDisplayChild/RatingStars';
@import './Components/FilmDetails/ItemDetails/filmDetails';
@import './Components/FilmDetails/FilmVideoTrailer/filmVedioTrailer';
@import './Components/FilmDetails/ActorList/actorList';
@import './Components/FilmDetails/ActorDetails/actorDetails';
@import './Components/WatchList/WatchList';
@import './Components/ImageSlider/ImageSlider';
@import './Components/Footer/Footer';

.Loading {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 60vh;
}