@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
header {
  background-color: #070707;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

@media (max-width: 420px) {
  header {
    -ms-grid-columns: 1fr 2fr .5fr;
        grid-template-columns: 1fr 2fr .5fr;
    height: 6rem;
  }
}

header .navBarLeftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  header .navBarLeftContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .navBarLeftContent a {
  width: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .navBarLeftContent a img {
  justify-items: left;
  height: 4rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navBarLeftContent h2 {
  color: white;
  font-family: 'Fugaz One', cursive;
  font-weight: 400;
}

@media (max-width: 420px) {
  header .navBarLeftContent h2 {
    font-size: 1rem;
  }
}

header .navBarCenterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navBarCenterContent input {
  outline: none;
  border: none;
  background-color: inherit;
  width: 35rem;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .navBarCenterContent input {
    width: 32rem;
  }
}

@media (max-width: 420px) {
  header .navBarCenterContent input {
    width: 25rem;
  }
}

header .navBarCenterContent input:focus {
  border-bottom: 3px solid #fe2222;
  color: white;
}

header .navBarCenterContent a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: inherit;
  color: white;
}

header .navBarCenterContent a::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 1.4rem;
  content: '\f002';
}

header .navBarCenterContent a:hover {
  color: #ffffff83;
  cursor: pointer;
}

.navBarRightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.navBarRightContent path:hover {
  color: #ffffff83;
  cursor: pointer;
}

.filmCardLink {
  text-decoration: none;
}

.filmCardLink .filmCard {
  width: 20rem;
  border-radius: 20px 20px 25px 25px;
  background-color: #282828;
  height: 25rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmCardLink .filmCard {
    height: 20rem;
  }
}

@media (max-width: 420px) {
  .filmCardLink .filmCard {
    height: 25rem;
    width: 40rem;
    border-radius: 0px;
  }
}

.filmCardLink .filmCard .filmImage {
  width: 100%;
  height: 10rem;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmImage {
    height: 15rem;
  }
}

.filmCardLink .filmCard .filmImage img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmImage img {
    border-radius: 0px;
  }
}

.filmCardLink .filmCard .filmCardDescription {
  padding: 0.5rem 1rem 1rem 1rem;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription {
    padding: 0rem;
    margin: 0;
  }
}

.filmCardLink .filmCard .filmCardDescription h3,
.filmCardLink .filmCard .filmCardDescription h1,
.filmCardLink .filmCard .filmCardDescription span {
  color: white;
}

.filmCardLink .filmCard .filmCardDescription h3 {
  font-size: 1.12rem;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription h3 {
    font-size: 1.5rem;
  }
}

.filmCardLink .filmCard .filmCardDescription h1 {
  font-size: 1.5rem;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription h1 {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}

.filmCardLink .filmCard .filmCardDescription span {
  font-size: 1rem;
  text-align: justify;
  margin-left: 0.5rem;
  font-weight: normal;
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription span {
    font-size: 1.5rem;
  }
}

.filmCardLink .filmCard .filmCardDescription .tab_phoneButton {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmCardLink .filmCard .filmCardDescription .tab_phoneButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription .tab_phoneButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 1rem 0rem 1rem;
  }
}

.filmCardLink .filmCard .filmCardDescription .tab_phoneButton .dotMenu {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmCardLink .filmCard .filmCardDescription .tab_phoneButton .dotMenu {
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardDescription .tab_phoneButton .dotMenu {
    display: inline-block;
  }
}

.filmCardLink .filmCard .filmCardsActionButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.3rem 0rem 0.3rem 0rem;
}

.filmCardLink .filmCard .filmCardsActionButtons a,
.filmCardLink .filmCard .filmCardsActionButtons button {
  text-decoration: none;
  text-align: center;
  width: 70%;
  background-color: #ff2323;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px;
  color: white;
  font-size: medium;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmCardLink .filmCard .filmCardsActionButtons a,
  .filmCardLink .filmCard .filmCardsActionButtons button {
    display: none;
  }
}

@media (max-width: 420px) {
  .filmCardLink .filmCard .filmCardsActionButtons a,
  .filmCardLink .filmCard .filmCardsActionButtons button {
    display: none;
  }
}

.filmCardLink .filmCard .filmCardsActionButtons a:hover,
.filmCardLink .filmCard .filmCardsActionButtons button:hover {
  background-color: #8b0707;
  cursor: pointer;
}

.filmCardLink .filmCard .filmCardsActionButtons .WatchList {
  padding: 11px 10px 11px 10px;
  font-size: 0.9 0.5rem;
}

.filmCardLink .filmCard .filmCardsActionButtons .WatchList::before, .filmCardLink .filmCard .filmCardsActionButtons .removeFromWatchListButton::before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: '\f067';
  margin-right: 0.5rem;
}

.filmCardLink .filmCard .filmCardsActionButtons .removeFromWatchListButton {
  font-size: .85rem;
  padding: 12px 10px 12px 10px;
}

.filmCardLink .filmCard .filmCardsActionButtons .removeFromWatchListButton::before {
  content: '\f068';
}

.filmSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 1rem 0rem 1rem 0rem;
  padding: 0rem 0rem 0rem 1rem;
}

.filmSection .sectionTitle {
  font-family: 'Sanchez', serif;
  font-size: 2.5rem;
}

.filmSection .SectionCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

@media (max-width: 420px) {
  .filmSection .SectionCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.filmSection .fullPageLinks {
  font-size: 1.2rem;
  color: #fafafa;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.7rem;
}

@media (max-width: 420px) {
  .filmSection .fullPageLinks {
    font-size: 1.4rem;
  }
}

.filmSection .fullPageLinks:hover {
  color: #3131e9;
}

.filmSection .backButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  text-align: center;
  width: 20%;
  background-color: #ff2323;
  border: none;
  outline: none;
  border-radius: .5rem;
  padding: .625rem;
  color: white;
  font-size: 1.125rem;
  margin-top: 2rem;
  -webkit-transition: width 2s;
  transition: width 2s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmSection .backButton {
    width: 30%;
    padding: .8rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 420px) {
  .filmSection .backButton {
    width: 35%;
    padding: 1rem;
    font-size: 1.3rem;
  }
}

.filmSection .backButton:hover {
  background-color: #8b0707;
  cursor: pointer;
}

.starColor {
  color: yellow;
  padding: 0px 2px 2px 2px;
}

@media (max-width: 420px) {
  .starColor {
    font-size: 1.5rem;
  }
}

.filmDetailsPage {
  margin: 0rem 6rem 3rem 6rem;
  padding: 0rem 1rem 0rem 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmDetailsPage {
    margin: 0rem 3rem 2rem 3rem;
  }
}

@media (max-width: 420px) {
  .filmDetailsPage {
    margin: 0rem 1.2rem 2rem 1.2rem;
  }
}

.filmDetailsPage h1,
.filmDetailsPage h2,
.filmDetailsPage h3 {
  color: white;
}

.filmDetailsPage .filmImage {
  width: 100%;
  height: 25rem;
}

.filmDetailsPage .filmImage img {
  padding: 0rem;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.filmDetailsPage .FilmDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .filmDetailsPage .FilmDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.filmDetailsPage .FilmDetails h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2.3rem;
}

.filmDetailsPage .FilmDetails h2 {
  font-size: larger;
}

@media (max-width: 420px) {
  .filmDetailsPage .FilmDetails h2 {
    font-size: 1.8rem;
  }
}

.filmDetailsPage .FilmDetails h2 span {
  font-size: larger;
  font-weight: normal;
}

@media (max-width: 420px) {
  .filmDetailsPage .FilmDetails h2 span {
    margin-left: 1rem;
  }
}

.filmDetailsPage .filmDescription h2,
.filmDetailsPage .filmDirectorWriter h2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
}

@media (max-width: 420px) {
  .filmDetailsPage .filmDescription h2,
  .filmDetailsPage .filmDirectorWriter h2 {
    font-size: 1.8rem;
  }
}

.filmDetailsPage .filmDescription h2 span,
.filmDetailsPage .filmDirectorWriter h2 span {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
}

.filmDetailsPage .filmDescription h3,
.filmDetailsPage .filmDirectorWriter h3 {
  text-align: justify;
  font-weight: normal;
  line-height: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filmDetailsPage .filmDescription h3,
  .filmDetailsPage .filmDirectorWriter h3 {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
}

@media (max-width: 420px) {
  .filmDetailsPage .filmDescription h3,
  .filmDetailsPage .filmDirectorWriter h3 {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}

.filmDetailsPage .filmActors,
.filmDetailsPage .Similarities {
  margin: 3rem 0rem 3rem 0rem;
}

.filmDetailsPage .filmActors h2,
.filmDetailsPage .Similarities h2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
}

.filmDetailsPage .filmActors .filmActorsDetails,
.filmDetailsPage .Similarities .filmActorsDetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 12.5rem);
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .filmDetailsPage .filmActors .filmActorsDetails,
  .filmDetailsPage .Similarities .filmActorsDetails {
    -ms-grid-columns: (10rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 10rem);
    gap: 1.2rem;
  }
}

.filmDetailsPage .backToHomeButton {
  text-decoration: none;
  color: white;
  padding: 1rem;
  width: 7rem;
  text-align: center;
  vertical-align: middle;
  background-color: #ff2323;
  -webkit-transition: padding 1s;
  transition: padding 1s;
}

@media (max-width: 420px) {
  .filmDetailsPage .backToHomeButton {
    width: 10rem;
    font-size: 1.5rem;
  }
}

.filmDetailsPage .backToHomeButton:hover {
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  background-color: #9b1919;
}

.videoTrailer {
  margin: 3rem 0rem 3rem 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filmActorsSection {
  text-decoration: none;
}

.filmActorsSection .actorDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .filmActorsSection .actorDetails {
    font-size: 1.2rem;
  }
}

.filmActorsSection .actorDetails img {
  color: white;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.actorInformation {
  margin: 0rem 6rem 0rem 6rem;
  display: -ms-grid;
  display: grid;
  color: white;
  gap: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: .5fr 1fr;
      grid-template-columns: .5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1rem 0rem 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .actorInformation {
    margin: 0rem 3rem 0rem 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .5fr 1fr;
        grid-template-rows: .5fr 1fr;
  }
}

.actorInformation .actorImage {
  height: 30rem;
  width: 30rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation .actorImage {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .actorInformation .actorImage {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.actorInformation .actorImage img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation .actorImage img {
    border-radius: 0%;
  }
}

.actorInformation .actorAllDetails {
  text-align: justify;
}

.actorInformation .actorAllDetails h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2.3rem;
}

@media (max-width: 420px) {
  .actorInformation .actorAllDetails h1 {
    font-size: 3rem;
  }
}

.actorInformation .actorAllDetails h3 {
  font-size: x-large;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation .actorAllDetails h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .actorInformation .actorAllDetails h3 {
    font-size: 2.1rem;
  }
}

.actorInformation .actorAllDetails h3 span {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation .actorAllDetails h3 span {
    font-size: 1.7rem;
  }
}

@media (max-width: 420px) {
  .actorInformation .actorAllDetails h3 span {
    font-size: 2rem;
  }
}

.actorInformation .actorAllDetails .summary {
  font-weight: normal;
  line-height: 2rem;
  font-size: larger;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .actorInformation .actorAllDetails .summary {
    font-size: 1.6rem;
  }
}

@media (max-width: 420px) {
  .actorInformation .actorAllDetails .summary {
    font-size: 1.85rem;
    line-height: 2.5rem;
  }
}

.backToPreviousPageButton {
  background-color: #ff2323;
  font-size: .9rem;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 5rem;
  border: none;
  outline: none;
  margin-bottom: .5rem;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .backToPreviousPageButton {
    width: 10rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .backToPreviousPageButton {
    width: 12rem;
    font-size: 1.5rem;
  }
}

.backToPreviousPageButton:hover {
  width: 7rem;
  cursor: pointer;
}

.backToPreviousPageButton:hover::before {
  content: '\f104';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: left;
}

.watchListContent {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

@media (max-width: 420px) {
  .watchListContent {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.EmptyPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("./Components/assets/EmptyBox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 35rem;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .EmptyPage {
    height: 100vh;
  }
}

@media (max-width: 420px) {
  .EmptyPage {
    height: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2rem;
  }
}

.EmptyPage a {
  text-decoration: none;
  color: white;
  background-color: #332d2d;
  width: 10rem;
  text-align: center;
  padding: 0.8rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .EmptyPage a {
    width: 15rem;
    font-size: 1.5rem;
    border-radius: 1.7rem;
  }
}

@media (max-width: 420px) {
  .EmptyPage a {
    width: 18rem;
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

.EmptyPage a:hover {
  width: 12rem;
  background-color: #4e1c1c;
  cursor: pointer;
}

.EmptyPage h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #3f3e3e;
  font-size: 3rem;
}

.Slider {
  padding: .3rem 1rem;
  height: 35rem;
}

@media (max-width: 420px) {
  .Slider {
    height: 45rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Slider {
    height: 45rem;
  }
}

.Slider .imageSlider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 90rem;
  height: 30rem;
}

@media (max-width: 420px) {
  .Slider .imageSlider {
    height: 45rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Slider .imageSlider {
    height: 45rem;
  }
}

.Slider .imageSlider__image {
  width: 25rem;
  height: 28rem;
}

.Slider .imageSlider__image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.Slider .imageSlider__info {
  color: #ff2323;
}

.Slider .imageSlider__info__title {
  font-size: 3rem;
}

.Slider .imageSlider__info__title span {
  color: white;
}

.Slider .imageSlider__info__year {
  font-size: 1.2rem;
}

.Slider .imageSlider__info__year span {
  color: white;
}

.Slider .imageSlider__info__runtime {
  font-size: 1.2rem;
}

.Slider .imageSlider__info__runtime span {
  color: white;
}

.Slider .imageSlider__info__stars {
  font-size: 1.2rem;
}

.Slider .imageSlider__info__stars span {
  color: white;
}

.Slider .imageSlider__info__genre {
  font-size: 1.2rem;
}

.Slider .imageSlider__info__genre span {
  color: white;
}

.Slider .imageSlider__info__plot {
  font-size: 1rem;
}

.Slider .imageSlider__info__plot span {
  color: white;
}

@media (max-width: 440px) and (max-height: 900px) {
  .Slider .imageSlider {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Slider .imageSlider__info {
    display: none;
  }
}

.footer {
  margin-top: 2rem;
  color: antiquewhite;
  background-color: #070707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1rem;
  height: 10rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo__image {
  width: 4rem;
  height: 4em;
}

.footer__logo__image img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  width: 100%;
}

.footer__logo__title {
  font-family: Fugaz One, cursive;
  font-weight: normal;
  font-size: 1.5rem;
}

.footer__socialMedia {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}

.Loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}
/*# sourceMappingURL=App.css.map */