.filmDetailsPage {
    margin : 0rem 6rem 3rem 6rem;
    padding: 0rem 1rem 0rem 1rem;

    @include tabletResponsive {
        margin: 0rem 3rem 2rem 3rem;
    }

    @include phoneResponsive {
        margin: 0rem 1.2rem 2rem 1.2rem;
    }

    h1,
    h2,
    h3 {
        color: white;
    }

    .filmImage {
        width : 100%;
        height: 25rem;

        img {
            padding   : 0rem;
            width     : 100%;
            height    : 100%;
            object-fit: fill;
        }
    }

    .FilmDetails {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        @include phoneResponsive {
            flex-direction: column;
            align-items   : flex-start;
        }

        h1 {
            font-family: 'Noto Sans SC', sans-serif;
            font-size  : 2.3rem;
        }

        h2 {
            font-size: larger;

            @include phoneResponsive {
                font-size: 1.8rem;
            }

            span {
                font-size  : larger;
                font-weight: normal;

                @include phoneResponsive {
                    margin-left: 1rem;
                }
            }
        }

    }

    .filmDescription,
    .filmDirectorWriter {


        h2 {
            font-family: 'Noto Sans SC', sans-serif;
            font-weight: bold;

            @include phoneResponsive {
                font-size: 1.8rem;
            }

            span {
                margin-left: 1rem;
                font-weight: normal;
                font-size  : 1.5rem;
            }
        }

        h3 {
            text-align : justify;
            font-weight: normal;
            line-height: 2rem;

            @include tabletResponsive {
                font-size  : 1.3rem;
                line-height: 2.3rem;
            }

            @include phoneResponsive {
                font-size  : 1.9rem;
                line-height: 2.5rem;
            }
        }

    }

    .filmActors,
    .Similarities {
        margin: 3rem 0rem 3rem 0rem;

        h2 {
            font-family: 'Noto Sans SC', sans-serif;
            font-size  : 2.5rem;
            font-style : italic;
        }

        .filmActorsDetails {
            display              : grid;
            grid-template-columns: repeat(auto-fill, 12.5rem);
            gap                  : 1rem;
            justify-content      : center;

            @include phoneResponsive {
                grid-template-columns: repeat(auto-fill, 10rem);
                gap                  : 1.2rem;
            }

        }

    }

    .backToHomeButton {
        text-decoration : none;
        color           : white;
        padding         : 1rem;
        width           : 7rem;
        text-align      : center;
        vertical-align  : middle;
        background-color: rgb(255, 46, 46);
        transition      : padding 1s;

        @include phoneResponsive {
            width    : 10rem;
            font-size: 1.5rem;
        }

        &:hover {
            padding         : 1rem 2rem 1rem 2rem;
            cursor          : pointer;
            background-color: rgb(155, 25, 25);

        }
    }
}